<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Pmer apellido:</strong>
  <%= @usuario.pmer_apellido %>
</p>

<p>
  <strong>Sdo apellido:</strong>
  <%= @usuario.sdo_apellido %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @usuario.nick %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
